.loginScreen {
  height: 100vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 400;
  }

  .loginForm {
    min-width: 300px;

    .spaceLoginBtn {
      text-align: center;
      margin-top: 2rem;

      .loginBtn {
        padding: 0.4rem 3rem;
        border-radius: 0;
        box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.6);
        background: #4a90e2;
        border: none;
      }

      .loginBtn:hover {
        background: #3186e7;
      }
    }
  }
}
