.NavbarContainer {
  height: 5vh;
  min-height: 50px;

  .logo {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
  }

  .NavbarMenu {
    height: 5vh;
    min-height: 50px;
    display: flex;
    align-items: center;

    .NavbarButton {
      border-radius: 0;
      margin-right: 1rem;
    }

    .NavbarDropdownToggle:after {
      display: none !important;
    }

    .NavbarDropdownToggle:focus {
      box-shadow: none;
    }

    .NavbarIcon {
      font-size: 2rem;
      color: black;
      height: 100%;
    }

    .LogoutSection {
      color: red;

      .iconLogoutSection {
        margin-right: 1rem;
      }
    }

    .LogoutSection:hover {
      color: red;
    }

    .LogoutSection:focus {
      color: red;
      background: transparent;
    }
  }
}
